/* General Styles */
.loader {
  --background-color: #ffffff; /* Default light mode background */
  --text-color: #000000; /* Default light mode text */
}

@media (prefers-color-scheme: dark) {
  .loader {
    --background-color: #121212; /* Dark mode background */
    --text-color: #ffffff; /* Dark mode text */
  }
}

/* LOADER CONTAINER */
.container {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-self: centre;
  justify-items: center;
  width: 100%;
  height: 100%;
}

/* TEXT ANIMATION */
.text {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  margin: 15rem auto auto auto;
  padding: 0; /* Ensure no extra padding */
}

.dot {
  display: inline-block;
  animation: blink 1.5s infinite;
  font-size: 2rem;
}

/* Delay each dot's animation */
.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.195s;
}

.dot:nth-child(3) {
  animation-delay: 0.35s;
}

/* Blink animation */
@keyframes blink {
  0%,
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .text {
    font-size: 1.5rem;
  }

  .dot {
    font-size: 1.5rem;
  }

  .loader {
    width: 15%;
  }
}

@media (max-width: 480px) {
  .text {
    font-size: 1.2rem;
  }

  .dot {
    font-size: 1.2rem;
  }

  .loader {
    width: 25%;
  }
}
